{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div class="form-group mx-auto">
<!--  <h2 class="text-center">-->
<!--    You are going to <span class="text-danger">logout</span>: "<i-->
<!--      >{{user.username}}</i-->
<!--    >-->
<!--    "-->
<!--  </h2>-->
  <p class="text-center">Are you sure, you want to log out ?</p>
  <div class="form-group">
    <form
      action=""
      method="post"
      class="d-flex flex-column align-items-center justify-content-center"
    >
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <a href="{% url 'web:list'  %}" class="btn btn-primary"
            >Cancel</a
          >
        </div>
        <div  class="col" >
           <a href="{% url 'account:login'  %}" class="btn btn-primary"
            >logout</a
          >
        </div>
      </div>
      <p>This action is irreversible</p>
    </form>
  </div>
</div>
{% endblock body %}